---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import Post from "@/layouts/partials/Post.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { getEntry } from "astro:content";
import type { CollectionEntry } from "astro:content";

// Fetch content for the homepage sections
const homepage = await getEntry("homepage", "-index");

// Add a check to ensure the homepage content exists
if (!homepage) {
  throw new Error(
    "Homepage content not found. Please ensure 'src/content/homepage/-index.md' exists.",
  );
}

const { banner, feature, services, workflow, call_to_action } =
  homepage.data;

// Fetch and sort the latest 3 blog posts
const posts = await getSinglePage("blog");
const sortedPosts = sortByDate(posts);
const recentPosts = sortedPosts.slice(0, 3);
---

<Base>
  <section class="hero-section">
    <div class="hero-content-wrapper">
      <h1 class="font-primary font-bold">{banner?.title}</h1>
      {banner?.content && (
        <div
          class="mt-4 text-text-dark hero-content"
          set:html={banner.content}
        />
      )}
    </div>

    <div class="hero-image-wrapper">
      <Image
        src="/images/header.png"
        width={750}
        height={420}
        alt="Header Graphic"
        class="w-full h-auto object-contain"
      />
    </div>
  </section>

  <a
    href={banner.button.link}
    class="block w-full bg-dark py-12 text-center font-primary text-2xl font-bold text-white transition-colors duration-300 hover:bg-primary-hover hover:text-black"
  >
    {banner.button.label}
  </a>

  <section class="section bg-light">
    <div class="container">
      <div class="text-center">
        <h2>{feature.title}</h2>
      </div>
      <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
        {feature.features.map((item) => (
          <div
            class="feature-card group rounded-xl bg-white p-5 pb-8 text-center text-text-dark transition-colors duration-300 ease-in-out hover:bg-primary-hover hover:text-white"
          >
            {item.icon && (
              <div>
                <Image
                  class="mx-auto"
                  alt={item.name}
                  src={item.icon}
                  width={40}
                  height={40}
                />
              </div>
            )}
            <div class="mt-4">
              <p class="h5 font-bold">{item.name}</p>
              <p class="mt-3">{item.content}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </section>

  {
    services!.map((service, index) => {
      const isOdd = index % 2 > 0;
      return (
        <section class={`section ${isOdd && "bg-light"}`}>
          <div class="container">
            <div class="items-center gap-8 md:grid md:grid-cols-2">
              <div class={`service-carousel ${!isOdd && "md:order-2"}`}>
                {service!.images!.length > 1 ? (
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      {service.images?.map((image) => (
                        <div class="swiper-slide">
                          <Image
                            class="mx-auto"
                            src={image}
                            width={538}
                            height={328}
                            alt=""
                          />
                        </div>
                      ))}
                    </div>
                    <div class="pagination" />
                  </div>
                ) : (
                  <Image
                    class="mx-auto"
                    src={service!.images![0]}
                    width={538}
                    height={328}
                    alt=""
                  />
                )}
              </div>

              {/* Content */}
              <div
                class={`service-content mt-5 md:mt-0 ${!isOdd && "md:order-1"}`}
              >
                <h2 class="font-bold leading-[40px]">{service?.title}</h2>
                <p class="mt-4 mb-2">{service?.content}</p>
                {service?.button?.enable && (
                  <a
                    href={service?.button.link}
                    class="cta-link inline-flex items-center text-primary"
                  >
                    {service?.button.label}
                    <img
                      class="ml-1"
                      src="/images/arrow-right.svg"
                      width={18}
                      height={14}
                      alt="arrow"
                    />
                  </a>
                )}
              </div>
            </div>
          </div>
        </section>
      );
    })
  }
  <section class="section pb-0">
    <div class="mb-8 text-center">
      <h2
        class="mx-auto max-w-[400px] font-bold leading-[44px]"
      >{workflow?.title}</h2>
      <p class="mt-3">{workflow?.description}</p>
    </div>
    <Image
      src={workflow!.image}
      alt="workflow image"
      width={1920}
      height={414}
    />
  </section>

  <section class="section">
    <div class="container">
      <div class="text-center">
        <h2>Latest Insights</h2>
        <p class="mt-4">
          Stay updated with the latest news and strategies in digital marketing.
        </p>
      </div>
      <div class="row mt-12 justify-center">
        {recentPosts.map((post) => (
          <div class="col-12 mb-8 sm:col-6 lg:col-4">
            <Post post={post} />
          </div>
        ))}
      </div>
      {/* Removed the div wrapper around the button */}
    </div>
  </section>

  {/* New full-width bar for "View All Posts" */}
  <a
    href="/blog"
    class="block w-full bg-dark py-12 text-center font-primary text-2xl font-bold text-white transition-colors duration-300 hover:bg-primary-hover hover:text-black"
  >
    View All Posts
  </a>

  <Cta cta={call_to_action} />
</Base>

<script>
  import { Swiper, Autoplay, Pagination } from "swiper";
  import "swiper/css";
  import "swiper/css/pagination";

  // astro:page-load event is fired when the page is loaded
  document.addEventListener("astro:page-load", () => {
    new Swiper(".service-carousel .swiper", {
      modules: [Pagination, Autoplay],
      pagination: {
        type: "bullets",
        el: ".service-carousel .pagination",
        clickable: true,
      },
    });
  });
</script>

<style>
  .hero-content {
    font-family: var(--font-accent), cursive;
    font-weight: 400;
  }

  /* Custom CSS Grid for the Hero Section */
  .hero-section {
    display: grid;
    grid-template-columns: 1fr; /* One column on mobile */
  }

  .hero-content-wrapper {
    padding: 5rem 2rem; /* Vertical and horizontal padding for mobile */
    text-align: center;
  }

  .hero-image-wrapper {
    display: none; /* Hide image on mobile by default */
    background-color: #2d3238; /* Dark Grey background */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  /* Apply 2-column grid on screens 768px and wider (desktop) */
  @media (min-width: 768px) {
    .hero-section {
      grid-template-columns: 1fr 1fr; /* Two equal columns */
    }

    .hero-content-wrapper {
      padding: 5rem;
      text-align: left;
    }

    .hero-image-wrapper {
      display: flex; /* Show image wrapper on desktop */
      width: 100%;
      height: 100%;
      min-height: 40vh;
      /* Remove background-size, background-position for the wrapper */
    }
    .hero-image-wrapper img {
      max-width: 100%; /* Ensure image doesn't overflow */
      max-height: 100%;
      object-fit: contain; /* Contain the image within its bounds */
    }
  }
</style>